<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post your blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<style>
    input:hover{
        cursor: pointer;
    }
</style>
</head>
<body>
    <div>
        <h1>WELCOME TO 'PYG'</h1>
        <p>post your blog</p>
    </div>
    <div class="btn">
        <form action="/blog" method="POST">
            <input type="submit" value="start blogging" name="todo">
            <input type="submit" value="view blogs" name="todo">
        </form>
    </div>
    
</body>
</html>