body{
    background-color: #2a2e30;
}

h1{
    text-align: center;
    color:white;
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:0px;
    margin:0px;
    font-size:4rem;
}
p{
    text-align: center;
    color:white;
    margin:0px;
    font-size: 1.5rem;
}
.btn{
    display:flex;
    height:84vh;
    align-items: center;
    justify-content: center;
}
input{
    margin:10px;
    padding:5px;
    border-radius: 10px;
    border:none;
    font-size:1.5rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}